// colors
$color1: #23162a;
$color2: #524c68;
$color3: #874f68;
$lightcolor: #e7c59f;
$accentcolor: #a31e15;

// others
$transition: 0.2s ease-in all;
$niceFont: Rubik, sans-serif;

.audiocall {
  &__background {
    background-image: url('../../../assets/audiocall/background.svg');
    background-size: cover;
    color: white;
  }

  &__screen {
    padding: 30px 0;
    font-family: $niceFont;

    &_header {
      text-align: center;
      text-transform: uppercase;
      font-size: 32px;
      margin-bottom: 40px;
    }

    &_text {
      line-height: 24px;

      &.rules {
        margin-bottom: 30px;
      }
    }

    &_start-btn {
      width: fit-content;
      padding: 10px 20px;
      border: 2px solid $color3;
      border-radius: 10px;
      margin: 20px auto 0;
      cursor: pointer;
      font-size: 22px;

      &:hover {
        transition: $transition;
        background-color: $color3;
      }
    }
  }
}

.question {
  &__container {
    position: absolute;
    z-index: 2;
    height: calc(100% - 40px);
    width: calc(100% - 40px);
    padding: 20px;
    top: 0;
    left: 0;
    background-color: $color2;
  }

  &__close {
    float: right;
    cursor: pointer;
  }

  &__circles {
    max-width: 700px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 40px auto;

    &_circle {
      width: 10px;
      height: 10px;
      background-color: #fff;
      border-radius: 50%;

      &.right {
        background-color: green;
      }

      &.wrong {
        background-color: red;
      }
    }
  }

  &__sound-btn {
    margin: 0 auto;
    width: 100px;
    height: 100px;
    cursor: pointer;

    & svg {
      fill: white;
    }

    &:hover svg {
      fill: $lightcolor;
      transition: $transition;
    }
  }

  &__answer-options {
    margin-top: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
  }

  &__answer-option {
    font-family: $niceFont;
    cursor: pointer;
    border-radius: 7px;
    padding: 5px 15px;
    border: 2px solid $color3;
    background-color: $color3;
    font-size: 24px;

    &:hover {
      border: 2px solid $color1;
      background-color: $color1;
    }
  }
}

.modal {
  position: absolute;
  z-index: 5;
  width: fit-content;
  height: fit-content;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  background-color: #fff;
  color: $color1;
  padding: 20px;

  &__background {
    top: 0;
    left: 0;
    position: absolute;
    z-index: 4;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0, 0.4);
  }

  &__close {
    float: right;
    cursor: pointer;
  }

  &__result {
    font-size: 24px;
    text-align: center;
    font-family: $niceFont;
  }

  &__image {
    height: 200px;
    margin: 30px auto;
    object-fit: cover;
    // object-position: 50% 50%;
  }

  &__text {
    font-size: 20px;
    text-align: center;
    font-weight: 500;
    margin-bottom: 20px;
  }
}

.result {
  position: absolute;
  z-index: 5;
  width: 300px;
  height: 380px;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  background-color: #fff;
  border-top: 10px solid white;
  border-bottom: 10px solid white;
  color: $color1;
  padding: 20px;
  overflow-y: auto;

  &__background {
    position: absolute;
    z-index: 4;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgb(0, 0, 0, 0.4);
  }

  &__close {
    float: right;
    cursor: pointer;
  }

  &__inner-container {
    width: 100%;
    height: fit-content;
    // overflow-y: auto;
  }

  &__line {
    width: 80%;
    margin: 20px auto;
    color: $color3;
    size: 2px;
  }

  &__header {
    display: inline-block;
    font-family: $niceFont;
    margin-right: 15px;
    margin-bottom: 10px;

    &_number {
      padding: 2px 12px;
      border-radius: 10px;
      color: white;
      width: fit-content;
      display: inline-block;

      &.wrong {
        background-color: red;
      }

      &.right {
        background-color: green;
      }
    }
  }

  &__word {
    margin-top: 10px;
    display: flex;
    justify-content: start;
    align-items: center;

    &_sound {
      width: 20px;
      height: 20px;
      margin: auto 0;
      display: inline-block;
      cursor: pointer;
      margin-right: 10px;

      & svg {
        width: 20px;
        height: 20px;
      }

      &:hover svg {
        fill: $color3;
      }
    }

    &_text {
      font-family: $niceFont;
      display: inline-block;
      line-height: 20px;
    }
  }
}
